.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 93, 48);
}
.navbar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.links div {
  margin-right: 15px;
}

.container-body{
  display: flex;
  gap: 5px;
  height: 80%;
}
.container{
  flex: 3;
  background-color: azure;
}

.left-bar{
  flex: 1;
  height: 400px;
}

.footer {
  bottom: 10px;
}
.leftbar {
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: blue;
  font-size: 20px;
}

.feedback-item {
  background-color: aquamarine;
  border-radius: 10px;
  width: 80%;
}

.inputs
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}